:root{
    --org-light: #FFC100 ;
    --org: #FF8200;
    --blk: #0A0903;
    --vnl: #FFEAAE;
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    height: 54px;
    width: 100vw;
    background-color: rgba(10, 9, 3, 0.3); /* changed the #0A0903 in rgb to manage opacity */
    z-index: 1;
    position: fixed;
    display: inline-flex;
}

header h1{
    margin-left: 5px;
    margin-right: auto;
    width: fit-content;
    font-size: 24px;
    color: var(--org-light);
    font-weight: 900;
    line-height: 100%;
    vertical-align: middle;

}

img{
    width: 100vw;
    height: auto;
}

#réserver{
    position: relative;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    height: 32px;
    border: 0;
    border-radius: 16px;
    padding: 10px;
    background-color: var(--org-light);
}
#réserver p{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 14px;
}

.titre{
    margin-top: -3px;
    width: 100vw;
    height: 62px;
    background-color: var(--org);
    text-align: center;
}
.titre p{
    font-style: italic;
    color: var(--blk);
}
.titre h1{
    text-transform: uppercase;
    color: var(--vnl);
}