:root {
    --org-light: #FFC100;
    --org: #FF8200;
    --blk: #0A0903;
    --vnl: #FFEAAE;

    --ttl: 24px;
    --ttl-sub: 14px;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    height: 54px;
    width: 100%;
    background-color: rgba(10, 9, 3, 0.3);
    /* changed the #0A0903 in rgb to manage opacity */
    z-index: 1;
    position: fixed;
    display: inline-flex;
}

header h1 {
    margin-left: 5px;
    margin-right: auto;
    width: fit-content;
    font-size: var(--ttl);
    color: var(--org-light);
    font-weight: 900;
    line-height: 100%;
    vertical-align: middle;

}

img {
    width: 100%;
    height: auto;
}

#réserver {
    position: relative;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    height: 32px;
    border: 0;
    border-radius: 16px;
    padding: 10px;
    background-color: var(--org-light);
}

#réserver p {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: var(--ttl-sub);
}

.titre {
    margin-top: -10px;
    width: 100%;
    height: 62px;
    padding-top: 10px;
    background-color: var(--org);
    text-align: center;
}

.titre p {
    font-style: italic;
    color: var(--blk);
    font-size: var(--ttl-sub);
}

.titre h1 {
    font-size: var(--ttl);
    text-transform: uppercase;
    color: var(--vnl);
}


.corps1 {
    background-color: var(--vnl);
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.corps1 p {
    margin: 20px;
    width: 40%;
    box-sizing: border-box;
    font-size: var(--ttl-sub);
}

.corps1 img {
    margin: 20px;
    width: 40%;
    box-sizing: border-box;
}

.corps2{
    background-color: var(--vnl);
    width: 100%;
    height: fit-content;
    display: block;
    align-items: center;
}

.corps2 img{
    width: 100%;
}

.corps2 p{
    margin: 20px;
    text-align: justify;
}

#gens{
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
}

.perso{
    width: 33%;
}

.perso img{
    margin: 10px;
    margin-bottom: 2px;
    width: 80%;
}
.perso label{
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.carte{
    margin: 5%;
    background-color: rgba(255, 255, 255, 0.85);
    width: 40%;
    height: fit-content;
    border-radius: 16px;
}

.carte h1{
    margin-left: 5%;
    font-size: var(--ttl);
}

.carte hr{
    width: 90%;
    margin-left: 5%;
}

.carte p{
    color: red;
    font-style: italic;
    font-weight: bold;
    margin-left: 40%;
    width: 55%;
}